name: Static Scans

on: # when to run
  #push: # not on push for the training (just manual)
  workflow_dispatch: # to allow running manually

permissions: # can be set to an org default
  contents: read

jobs:
  sast-scans: # custom id to reference job
    name: SAST Scans
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4
        with:
          persist-credentials: false # github token is dumped after action, needs to be true if following steps need token

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: "temurin"

      - name: Setup Maven Dependency Cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn clean install
